.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.mt-7 {
  margin-top: 1.75rem
}

.flex {
  display: flex
}

.h-2\/5 {
  height: 40%
}

.h-12 {
  height: 3rem
}

.w-10\/12 {
  width: 83.333333%
}

.w-80 {
  width: 20rem
}

.w-3\/4 {
  width: 75%
}

.rounded-3xl {
  border-radius: 1.5rem
}

.rounded-2xl {
  border-radius: 1rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.underline {
  text-decoration-line: underline
}
